@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
}
#CubeScene {
  position: fixed;
  right: 0;
  top: 0;
  perspective-origin: center center;
  perspective: 1000px;

  box-sizing: border-box;
  transition: 1s;
}
#CubeScene.active {
  perspective: 500px;
  transform: translate(calc(-50vw + 100px), calc(50vh - 100px));
}
#MenuDesc {
  text-align: center;
  position: relative;
  bottom: 100px;
}
.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}
.cube .center {
  position: absolute;
  top: 50%;
  left: 50%;
}
.cube .face {
  background-color: gray;
  /* opacity: 0.5; */
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(-100px);
  /* box-shadow: inset 5px 5px 10px black, inset -5px -5px 10px black; */
  /* border: 3px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube .face.front {
  transform: rotateY(0deg) translateZ(100px);
  /* box-shadow: inset 10px 10px 50px black, inset -10px -10px 50px black; */
}
.cube .face.front span {
  position: absolute;
  width: 65%;
  height: 7.5%;
  background: black;
  border-radius: 4px;
}
.cube .face.front span:nth-child(1) {
  transform: translateY(25px);
}
.cube .face.front span:nth-child(3) {
  transform: translateY(-25px);
}
.cube .face.top {
  transform: rotateX(90deg) translateZ(100px);
}
.cube .face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
.cube .face.back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube .face.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube .face.right {
  transform: rotateY(90deg) translateZ(100px);
}

#MenuDesc {
  color: white;
}
